.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-content {
  text-align: center;
}

.falling-letters {
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.falling-letter {
  font-size: 32px;
  position: absolute;
  color: #7038ba;
  animation: fallAnimation 10s linear infinite;
}

@keyframes fallAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
